* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    font-family: sans-serif;
    background-color: var(--darkBlue-color);
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

}


:root {

    /* font-size */
    --xxsmall: 15px;
    --xsmall: 20px;
    --small: 25px;
    --normal: 35px;
    --large: 45px;

    


    /* typography colors  */
    --white-color: hsl(0, 0%, 100%);
    --liteGrey-color: rgb(180, 183, 187);
    --darkBlue-color: rgb(35, 45, 62);
    --limeGreen-color: rgb(78, 177, 109);
    
    

}





/*header sections */

.formContainer {
    margin-top: 120px;
    
}



.formTitle {
    color: var(--white-color);
    padding-top: 20px;
    font-size: var(--normal);
    font-weight: 600;

}
.formTitle__1 {
    color: var(--white-color);
    padding: 10px;
    padding-top: 10px;
    text-align: left;
    font-size: var(--xxsmall);
   

}

.formTitle__2 {
    color: var(--white-color);
    padding: 10px;
    padding-top: 10px;
}

.title {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 10px;
}



.logo {
    width: 60px;
    height: 70px;
 
    border-radius: 100px;
}


.ptag {
    color: var(--liteGrey-color);
    margin: 100px;
    text-align: center;
}

/*input ids */

#price {
    
    height: 80px;
    font-size: var(--normal);
 }
 
 #interest {
    text-align: right;
     height: 80px;
     font-size: var(--normal);
 }
 
 #taxes {
     height: 80px;
     font-size: var(--normal);
 }
 
 #downpayment {
     text-align: right;
     height: 80px;
     font-size: var(--normal);
     
 }

 #monthlypayment {
     
    height: 80px;
    font-size: var(--normal);
    background: var(--limeGreen-color);
    border-radius: 0;
    font-weight: 600;
    
}

/* placeholder Pseudo elements */ 

input[type="number"].monthly::placeholder {
    text-align: left;
    font-size: 60px;
    color: var(--white-color);
    

}

input[type="number"].rate::placeholder {
    text-align: right;
    font-size: 60px;
    
    

}



input[type="number"]::placeholder {
    text-align: start;
    font-size: 50px;
}



/* submit button*/

#paymentButton {
 
    border-radius: 100;
    margin-top: 30px;
    background: var(--limeGreen-color);
    height: 90px;
    font-weight: 600;
    
    


}





/*media queries */

/* @media (max-width: 1200px) {
  
}

@media (max-width: 992px) {
   
} */

/* @media (max-width: 768px) {
    .formTitle{font-size: var(--small);}
} */

/* @media (max-width: 576px) {
    .formTitle{font-size: var(--xsmall);}
  
} */